Repository alex12306/coin-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

fix: test commitlint type
  commitlint.config.js
Due: npx prettier --write, npx eslint --fix

release: v2.1.0
  packages/coin-ui/CHANGELOG.md
  packages/coin-ui/package-lock.json
  packages/coin-ui/package.json
Due: npx prettier --write

refactor(package.json): 把scripts统一到根目录
  .eslintignore
  .eslintrc.js
  commitlint.config.js
  example/auto-imports.d.ts
  example/components.d.ts
  example/index.html
  example/package.json
  example/src/App.vue
  example/src/assets/global.scss
  example/src/main.ts
  example/vite.config.ts
  package.json
  packages/coin-ui/CHANGELOG.md
  packages/coin-ui/index.ts
  packages/coin-ui/package.json
  packages/coin-ui/vite.config.ts
  packages/components/button/button.vue
  packages/components/button/index.ts
  packages/components/index.ts
  packages/components/input/index.ts
  packages/components/input/input.vue
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

feat(button): complete the type attribute of the button
  example/auto-imports.d.ts
  example/components.d.ts
  example/src/App.vue
  example/vite.config.ts
  package.json
  packages/components/button/button.vue
  packages/components/button/index.scss
  packages/components/button/index.ts
  packages/components/icon/iconfont.css
  packages/components/icon/iconfont.ttf
  packages/components/icon/iconfont.woff
  packages/components/icon/iconfont.woff2
  packages/components/icon/loading.vue
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

feat(button): 完成按钮基本开发,增加README
  README.md
  example/src/App.vue
  example/src/main.ts
  package.json
  packages/coin-ui/package.json
  packages/components/button/button.vue
  packages/components/button/index.scss
  packages/components/icon/loading.vue
  packages/components/input/input.vue
  packages/utils/index.ts
Due: npx prettier --write, npx eslint --fix

feat(message): 完成消息提示组件,完善README,关闭minify
  README.md
  example/src/App.vue
  example/src/main.ts
  example/vite.config.ts
  package.json
  packages/coin-ui/index.ts
  packages/coin-ui/vite.config.ts
  packages/components/button/button.vue
  packages/components/button/index.ts
  packages/components/icon/iconfont.css
  packages/components/index.ts
  packages/components/message/index.scss
  packages/components/message/index.ts
  packages/components/message/instance.ts
  packages/components/message/message.vue
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

release: v2.2.0
  packages/coin-ui/CHANGELOG.md
  packages/coin-ui/package-lock.json
  packages/coin-ui/package.json
Due: npx prettier --write

docs: 修订README
  packages/coin-ui/README.md
  packages/coin-ui/package.json
Due: npx prettier --write

docs: 修订README
  README.md
  packages/coin-ui/README.md
  packages/coin-ui/package.json
Due: npx prettier --write

docs: 更新README内容
  README.md
  packages/coin-ui/README.md
  packages/coin-ui/package.json
Due: npx prettier --write

feat(vitepress): 添加vitepress做Ui官网
  .gitignore
  .npmrc
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/document/button.md
  docs/document/install.md
  docs/document/message.md
  docs/index.md
  docs/package.json
  docs/public/favicon.png
  example/src/App.vue
  package.json
  packages/components/message/index.scss
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

feat(workflows): 添加workflows
  .github/workflows/deploy.yml
Due: none

fix: fix workflows
  .github/workflows/deploy.yml
Due: none

fix: 测试workflows
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix: test workflows
  docs/package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix: test workflows
  .gitignore
  packages/coin-ui/dist/es/_virtual/_plugin-vue_export-helper.mjs
  packages/coin-ui/dist/es/coin-ui/index.mjs
  packages/coin-ui/dist/es/components/button/button.vue.mjs
  packages/coin-ui/dist/es/components/button/button.vue2.mjs
  packages/coin-ui/dist/es/components/button/index.scss.mjs
  packages/coin-ui/dist/es/components/icon/iconfont.css.mjs
  packages/coin-ui/dist/es/components/icon/loading.vue.mjs
  packages/coin-ui/dist/es/components/index.mjs
  packages/coin-ui/dist/es/components/input/input.vue.mjs
  packages/coin-ui/dist/es/components/input/input.vue2.mjs
  packages/coin-ui/dist/es/components/message/index.mjs
  packages/coin-ui/dist/es/components/message/index.scss.mjs
  packages/coin-ui/dist/es/components/message/instance.mjs
  packages/coin-ui/dist/es/components/message/message.vue.mjs
  packages/coin-ui/dist/es/components/message/message.vue2.mjs
  packages/coin-ui/dist/es/style.css
  packages/coin-ui/dist/index.d.ts
  packages/coin-ui/dist/lib/_virtual/_plugin-vue_export-helper.js
  packages/coin-ui/dist/lib/coin-ui/index.js
  packages/coin-ui/dist/lib/components/button/button.vue.js
  packages/coin-ui/dist/lib/components/button/button.vue2.js
  packages/coin-ui/dist/lib/components/button/index.scss.js
  packages/coin-ui/dist/lib/components/icon/iconfont.css.js
  packages/coin-ui/dist/lib/components/icon/loading.vue.js
  packages/coin-ui/dist/lib/components/index.js
  packages/coin-ui/dist/lib/components/input/input.vue.js
  packages/coin-ui/dist/lib/components/input/input.vue2.js
  packages/coin-ui/dist/lib/components/message/index.js
  packages/coin-ui/dist/lib/components/message/index.scss.js
  packages/coin-ui/dist/lib/components/message/instance.js
  packages/coin-ui/dist/lib/components/message/message.vue.js
  packages/coin-ui/dist/lib/components/message/message.vue2.js
Due: npx prettier --write, npx eslint --fix

deploy: 0b20738163fa0d759de5b3f26bb66c91bcca8c5e
  .nojekyll
  404.html
  assets/app.fdcebe4e.js
  assets/chunks/framework.9bead1c9.js
  assets/chunks/index.82392d83.js
  assets/chunks/theme.356dafd2.js
  assets/document_button.md.1135d512.js
  assets/document_button.md.1135d512.lean.js
  assets/document_install.md.4b71d8b7.js
  assets/document_install.md.4b71d8b7.lean.js
  assets/document_message.md.a95683a4.js
  assets/document_message.md.a95683a4.lean.js
  assets/index.md.cb59ae2b.js
  assets/index.md.cb59ae2b.lean.js
  assets/inter-italic-cyrillic-ext.33bd5a8e.woff2
  assets/inter-italic-cyrillic.ea42a392.woff2
  assets/inter-italic-greek-ext.4fbe9427.woff2
  assets/inter-italic-greek.8f4463c4.woff2
  assets/inter-italic-latin-ext.bd8920cc.woff2
  assets/inter-italic-latin.bd3b6f56.woff2
  assets/inter-italic-vietnamese.6ce511fb.woff2
  assets/inter-roman-cyrillic-ext.e75737ce.woff2
  assets/inter-roman-cyrillic.5f2c6c8c.woff2
  assets/inter-roman-greek-ext.ab0619bc.woff2
  assets/inter-roman-greek.d5a6d92a.woff2
  assets/inter-roman-latin-ext.0030eebd.woff2
  assets/inter-roman-latin.2ed14f66.woff2
  assets/inter-roman-vietnamese.14ce25a6.woff2
  assets/style.9ec5d879.css
  document/button.html
  document/install.html
  document/message.html
  favicon.png
  hashmap.json
  index.html
Due: npx prettier --write, npx eslint --fix

fix: 增加vitepress base配置
  docs/.vitepress/config.ts
Due: npx prettier --write, npx eslint --fix

deploy: d92293475e65117184fc0c1b6443094704ceb1c5
  404.html
  assets/app.b6657b67.js
  assets/app.fdcebe4e.js
  assets/chunks/framework.9bead1c9.js
  assets/chunks/framework.e8ca29b5.js
  assets/chunks/index.0620f923.js
  assets/chunks/index.82392d83.js
  assets/chunks/theme.356dafd2.js
  assets/chunks/theme.5e9e6b79.js
  assets/document_button.md.1135d512.js
  assets/document_button.md.1135d512.lean.js
  assets/document_button.md.aa7abed4.js
  assets/document_button.md.aa7abed4.lean.js
  assets/document_install.md.4b71d8b7.lean.js
  assets/document_install.md.56989ca2.js
  assets/document_install.md.56989ca2.lean.js
  assets/document_message.md.5fbdb0c6.js
  assets/document_message.md.5fbdb0c6.lean.js
  assets/document_message.md.a95683a4.lean.js
  assets/index.md.cb59ae2b.js
  assets/index.md.cb59ae2b.lean.js
  assets/index.md.dfe6399e.js
  assets/index.md.dfe6399e.lean.js
  assets/style.7805319a.css
  assets/style.9ec5d879.css
  document/button.html
  document/install.html
  document/message.html
  hashmap.json
  index.html
Due: npx prettier --write, npx eslint --fix

Create CNAME
  CNAME
Due: none

feat: github pages使用自定义域名;取消上传coin ui/dist
  .github/workflows/deploy.yml
  .gitignore
  docs/.vitepress/config.ts
Due: npx prettier --write, npx eslint --fix

deploy: 86f8e5df238029c33d126370119af5a40863b54d
  404.html
  CNAME
  assets/app.b6657b67.js
  assets/app.f7422ad0.js
  assets/chunks/framework.9bead1c9.js
  assets/chunks/framework.e8ca29b5.js
  assets/chunks/index.0620f923.js
  assets/chunks/index.82392d83.js
  assets/chunks/theme.5120a043.js
  assets/chunks/theme.5e9e6b79.js
  assets/document_button.md.1135d512.js
  assets/document_button.md.1135d512.lean.js
  assets/document_button.md.aa7abed4.js
  assets/document_button.md.aa7abed4.lean.js
  assets/document_install.md.4b71d8b7.js
  assets/document_install.md.4b71d8b7.lean.js
  assets/document_install.md.56989ca2.lean.js
  assets/document_message.md.5fbdb0c6.lean.js
  assets/document_message.md.a95683a4.js
  assets/document_message.md.a95683a4.lean.js
  assets/index.md.cb59ae2b.js
  assets/index.md.cb59ae2b.lean.js
  assets/index.md.dfe6399e.js
  assets/index.md.dfe6399e.lean.js
  assets/style.29215f46.css
  assets/style.7805319a.css
  document/button.html
  document/install.html
  document/message.html
  hashmap.json
  index.html
Due: npx prettier --write, npx eslint --fix

fix: 清除本地git缓存，取消上传coin-ui/dist
  packages/coin-ui/dist/es/_virtual/_plugin-vue_export-helper.mjs
  packages/coin-ui/dist/es/coin-ui/index.mjs
  packages/coin-ui/dist/es/components/button/button.vue.mjs
  packages/coin-ui/dist/es/components/button/button.vue2.mjs
  packages/coin-ui/dist/es/components/button/index.scss.mjs
  packages/coin-ui/dist/es/components/icon/iconfont.css.mjs
  packages/coin-ui/dist/es/components/icon/loading.vue.mjs
  packages/coin-ui/dist/es/components/index.mjs
  packages/coin-ui/dist/es/components/input/input.vue.mjs
  packages/coin-ui/dist/es/components/input/input.vue2.mjs
  packages/coin-ui/dist/es/components/message/index.mjs
  packages/coin-ui/dist/es/components/message/index.scss.mjs
  packages/coin-ui/dist/es/components/message/instance.mjs
  packages/coin-ui/dist/es/components/message/message.vue.mjs
  packages/coin-ui/dist/es/components/message/message.vue2.mjs
  packages/coin-ui/dist/es/style.css
  packages/coin-ui/dist/index.d.ts
  packages/coin-ui/dist/lib/_virtual/_plugin-vue_export-helper.js
  packages/coin-ui/dist/lib/coin-ui/index.js
  packages/coin-ui/dist/lib/components/button/button.vue.js
  packages/coin-ui/dist/lib/components/button/button.vue2.js
  packages/coin-ui/dist/lib/components/button/index.scss.js
  packages/coin-ui/dist/lib/components/icon/iconfont.css.js
  packages/coin-ui/dist/lib/components/icon/loading.vue.js
  packages/coin-ui/dist/lib/components/index.js
  packages/coin-ui/dist/lib/components/input/input.vue.js
  packages/coin-ui/dist/lib/components/input/input.vue2.js
  packages/coin-ui/dist/lib/components/message/index.js
  packages/coin-ui/dist/lib/components/message/index.scss.js
  packages/coin-ui/dist/lib/components/message/instance.js
  packages/coin-ui/dist/lib/components/message/message.vue.js
  packages/coin-ui/dist/lib/components/message/message.vue2.js
Due: npx prettier --write, npx eslint --fix

fix: 改变workflows任务执行顺序
  .github/workflows/deploy.yml
  docs/.vitepress/config.ts
Due: npx prettier --write, npx eslint --fix

deploy: 680e0551d949b41f96dc4dc221b506cf4f4d7b94
  404.html
  assets/app.f32e5537.js
  assets/app.f7422ad0.js
  assets/chunks/theme.156f5e0b.js
  assets/chunks/theme.5120a043.js
  assets/style.29215f46.css
  assets/style.5184846d.css
  document/button.html
  document/install.html
  document/message.html
  hashmap.json
  index.html
Due: npx prettier --write, npx eslint --fix

Update CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

ci: github pages速度慢，改为部署到国内服务器
  .github/workflows/deploy.yml
  README.md
  packages/coin-ui/README.md
Due: none

ci: cI配置路径更改
  .github/workflows/deploy.yml
Due: none

ci: 测试CI
  .github/workflows/deploy.yml
Due: none

docs: pre-release
  README.md
  packages/coin-ui/README.md
Due: none

release: v2.3.0
  packages/coin-ui/CHANGELOG.md
  packages/coin-ui/package-lock.json
  packages/coin-ui/package.json
Due: npx prettier --write

docs: 境外域名被拦截...改成国内域名
  README.md
  packages/coin-ui/README.md
  packages/coin-ui/package.json
Due: npx prettier --write

fix: 修复没有类型提示的问题
  packages/coin-ui/index.ts
  packages/coin-ui/package.json
  packages/coin-ui/vite.config.ts
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

test(vitest): 添加vitest功能;增加button和message的单元测试
  .eslintrc.js
  example/src/App.vue
  example/src/main.ts
  package.json
  packages/coin-ui/package.json
  packages/components/button/button.vue
  packages/components/button/tests/button.spec.ts
  packages/components/message/tests/message.spec.ts
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

release: v2.3.8
  packages/coin-ui/CHANGELOG.md
  packages/coin-ui/package-lock.json
  packages/coin-ui/package.json
Due: npx prettier --write

Path conditions:
  npx prettier --write: any of: *.{js,cjs,ts,html,json,css,scss,vue}
  npx eslint --fix: any of: *.{js,cjs,ts,vue}
